
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(232, 233, 231); 
}
header{
    border-bottom: rgba(0, 0, 0, 0.418) solid 3px;
} 
.tituloC{
    text-align: center;
    font-size: 24px;
    padding: 16px;
}
.contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 16px;
}
.formularioC{
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#nombre{
    margin: 3px;
    padding: 5px;
    background-clip: padding-box;
    border-radius: 4px;
    width: 450px;
}
#apellido{
    margin: 3px;
    padding: 5px;
    background-clip: padding-box;
    border-radius: 4px;
    width: 450px;
}
#email{
    margin: 3px;
    padding: 5px ;
    background-clip: padding-box;
    border-radius: 4px;
    width: 450px;    
}
#reset{
    margin: 8px;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(122, 119, 119);

}
.basurero{
    background-color: rgb(122, 119, 119);
}
#comentario{
    margin: 3px;
    padding: 5px;
    background-clip: padding-box;
    border-radius: 4px;
    width: 450px;
}
.enviar{
    margin: 8px;
    padding: 5px 38px 5px 38px;
    border-radius: 4px;
    background-color: rgb(73, 58, 165);
    color:antiquewhite;
    border-color: rgb(73, 58, 165);
   
}
.sucursalC{
    margin: 10px;
    padding: 10px;
    font-size: 1.3rem;
}

.horario{
font-weight: bold;
text-align: center;
margin-top: 20px;
}

footer{
    border-top: rgba(0, 0, 0, 0.418) solid 3px;
} 

@media screen and (max-width: 768px){
    .formularioC{
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
    
    #nombre{
        margin: 3px;
        padding: 5px;
        background-clip: padding-box;
        border-radius: 4px;
        width: 300px;
    }
    #apellido{
        margin: 3px;
        padding: 5px;
        background-clip: padding-box;
        border-radius: 4px;
        width: 300px;
    }
    #email{
        margin: 3px;
        padding: 5px ;
        background-clip: padding-box;
        border-radius: 4px;
        width: 300px;    
    }
    #reset{
        margin: 8px;
        padding: 5px;
        border-radius: 4px;
        background-color: rgb(122, 119, 119);
    
    }
    .basurero{
        background-color: rgb(122, 119, 119);
    }
    #comentario{
        margin: 3px;
        padding: 5px;
        background-clip: padding-box;
        border-radius: 4px;
        width: 300px;
    }
    .enviar{
        margin: 8px;
        padding: 5px 38px 5px 38px;
        border-radius: 4px;
        background-color: rgb(73, 58, 165);
        color:antiquewhite;
        border-color: rgb(73, 58, 165);
       
    }
}
    