*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(232, 233, 231);
} 
header{
    border-bottom: rgba(0, 0, 0, 0.418) solid 3px;
} 
.sesionI{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    background-color:rgba(232, 233, 231, 0.684);
    padding: 40px;

}
.iniciarSesion{
    padding: 12px;    
}


.iniciar{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(58, 55, 55);
    background-color:rgba(232, 233, 231, 0.684); 
    border-bottom: 1px solid black;
    padding: 20px 20px 5px 20px;
}

input{
    width: 100%;
    padding: 6px 12px;
    font-weight: 400;
    color:black;
    background-clip: padding-box;
    background-color:rgba(238, 242, 236, 0.684); 
}

.ingresar{
    padding: ;
}

.nuevo{
    margin-top: 29px;
}

.click{
    text-align: center;
    color:rgb(232, 233, 231);
    background-color: rgb(52, 52, 166);
    border: none;
    padding: 10px 20px;
    margin: 16px 10px 10px 0;
    border-radius: 2px;
    display: block;
}
@media(hover:hover){
    .click:hover {
        color:#888
}

.restablecer{
    text-decoration: none;
    color: black;
}
@media(hover:hover){
    .restablecer:hover {
        color: rgb(52, 52, 166);
}

footer{
    border-top: rgba(0, 0, 0, 0.418) solid 3px;
} 